
:root {
	--main-bg-color: #3E3E45;
	--main-fg-color: #c3c3c3;

  --headers-color: white;

	--hover-color: purple;
	--link-color: #e1e1e1;
	--visited-link-color: blueviolet;

  --title-color: #F9AE4F;
  --title-bg-color: #313137;

  --py-list-element-title-color: white;

	--code-bg-color: #313137;
  --dark-border-color: #212127;
}



/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
/*  font-weight: 400;*/
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /*font-size: 44px;*/
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


body {
	background-color: var(--main-bg-color);
	color: var(--main-fg-color);
	font-family: sans-serif;
	padding-left: 30pt;
  padding-right: 30pt;
}

hr {
  border: 1px solid var(--dark-border-color);
}


/*--------------------------------------------------
  Headers
--------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  color: var(--headers-color);
}

.title {
  color: var(--title-color);
  background-color: var(--title-bg-color);
  margin-left: -15pt;
  margin-right: -15pt;
  padding: 5pt 15pt 5pt 15pt;
}

.subtitle {
  margin-left: 7em;
  font-style: italic;
}

h1.title + .subtitle {
  margin-top: -24pt;
  font-size: 1.2em;
}
h2.title + .subtitle {
  margin-top: -22pt;
  font-size: 1.2em;
}
h3.title + .subtitle {
  margin-top: -20pt;
  font-size: 1.2em;
}


/*--------------------------------------------------
  Pre Icons
--------------------------------------------------*/

.title.package:before {
  font-family: 'Material Icons';
  content: "donut_small";
  vertical-align: middle !important;
}

.pylist.module a:before,
.title.module:before {
  font-family: 'Material Icons';
  content: "fiber_manual_record";
  vertical-align: middle !important;
}

/*--------------------------------------------------
  Links
--------------------------------------------------*/
a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: var(--visited-link-color);
}

a:hover {
  color: var(--hover-color);
}

/*--------------------------------------------------
  Python elements list
--------------------------------------------------*/
.pylist a {
  color: var(--py-list-element-title-color);
  font-size: 1.1em;
  font-weight: bold;
}

.pylist a:hover {
  color: var(--hover-color);
}

.pylist a:hover {
  color: var(--hover-color);
}


/*--------------------------------------------------
  Code
--------------------------------------------------*/
pre, code {
  font-family: Consolas, Menlo, Monaco, monospace !important;
}
pre {
  white-space: pre-wrap;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
code {
  display: inline-block;
  border: 1px solid var(--dark-border-color);
  background-color: var(--code-bg-color);
}

pre>code {
  padding: 1em;
  border-radius: 5px;
}

p>code, ul>code {
  padding: 0 0.2em 0 0.2em;
  border-radius: 3px;
}

/*--------------------------------------------------
  Doc Specific
--------------------------------------------------*/
div.brief-doc {
  padding-left: 2em;
}

/*--------------------------------------------------
  Admonitions
--------------------------------------------------*/
div.admonition {
	border: 1px solid lightblue;
	margin: 1em;
	border-radius: 5px;
	max-width: 50%;
	padding: 0px;
	background-color: aliceblue;
}

div.admonition * {
	padding-left: 16px;
	padding-right: 16px;
}

div.admonition p.admonition-title {
	font-weight: bold;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	border-bottom: 1px solid;
	border-color: inherit;
}

div.admonition.caution {
	background-color: #ffb833;
	border-color: darkorange;
}

div.admonition.danger {
	background-color: salmon;
	border-color: red;
}


/*--------------------------------------------------
  Block Sections
--------------------------------------------------*/
/*
.block-section {
  border: 1px solid black;
  padding-left: 15pt;
  padding-right: 15pt;
  padding-bottom: 5pt;
  border-radius: 10px;
}

.block-section-title {
  background-color: red;
  border-bottom: 1px solid black;
  padding: 0pt 10pt 4pt 10pt;
  margin-left: -15pt;
  margin-right: -15pt;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 3.5em;
  font-weight: bold;
}
*/
