body {
	font-family: sans-serif;
	padding-left: 35px;
}

a {
  color: #2980B9 ;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #2980B9;
}

a:hover {
  color: blueviolet;
}

/* Headers styles */
body > h1, body > h2, body > h3,
.block-section-title
 {
	margin-left: -35px;
	background-color: aliceblue;
	border: 1px solid darkgrey;
	padding-left:16px;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
	/*margin-top: 16px;*/
	/*border-bottom: 1px solid grey;*/
}

/* Custom Sections */
.block-section {
	border: 1px solid grey;
}


/* Admonitions */
div.admonition {
	border: 1px solid lightblue;
	margin: 1em;
	border-radius: 5px;
	max-width: 50%;
	padding: 0px;
	background-color: aliceblue;
}

div.admonition * {
	padding-left: 16px;
	padding-right: 16px;
}

div.admonition p.admonition-title {
	font-weight: bold;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	border-bottom: 1px solid;
	border-color: inherit;
}

div.admonition.caution {
	background-color: #ffb833;
	border-color: darkorange;
}

div.admonition.danger {
	background-color: salmon;
	border-color: red;
}