table {
    width:100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

table.args tr:nth-child(even) {
    background-color: #eee;
}

table.args tr:nth-child(odd) {
   background-color:#fff;
}

table.args th {
    background-color: black;
    color: white;
}